Course 1 - Supervised Machine Learning Regression and Classification/Week 3/4. The problem of overfitting/9. Andrew Ng and Fei-Fei Li on Human-Centered AI.mp4
Course 2 - Advanced Learning Algorithms/Week 4 Decision Tree/5. Conversation with Andrew/Andrew Ng and Chris Manning on Natural Language Processing.mp4
